
# System files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/

#Logs
*.log

# Editor folders 
.vscode/

# API keys 
/src/api_keys.js

#  Build/output folders (if any)
dist/
build/

#  Prettier 
.prettiercache
